<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/auth.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>
    <div class="login-form ">
        <div class="login-form__box">
            <div class="input-box">
                <img src="/images/android-chrome-192x192.png">
            </div>
            <form action="/login" method="post">
                <div class="input-box">
                    <input type="text" name="clientId" placeholder="아이디">
                </div>
                <div class="input-box">
                    <input type="text" name="password" placeholder="비밀번호">
                </div>
                <div class="input-box">
                    <button type="submit">로그인</button>
                </div>
                <div class="input-box">
                    <button type="submit">회원가입</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>