<div id="header">
    <div class="header__div-wrapper">
        <div class="logo">
            <a href="/"><img src="/images/somat-logo.png"></a>
        </div>
        <!-- <div class="box-contents">
            <a href="/">공지사항</a>
            <a href="/">개발 히스토리</a>
            <a href="/">가이드</a>
            <a href="/">소통</a>
        </div> -->
        <% if(clientName) { %>
            <div class="user-info">
                <div class="icon">
                    <i class="fa-solid fa-bell fa-lg"></i>
                </div>
                <img src=<%= photo %>>
                <a href="#" class="user-name"><%= clientName %> 님</a>
                <a href="/logout" id="btn__log">로그아웃</a>
            </div>
        <% } else { %>
            <div>
                <div class="user-info">
                    <a href="/login" id="btn__log"> 회원가입 / 로그인 </a>
                </div>
            </div>
        <% } %>
    </div>
</div>
