<div id="header">
    <div class="header__div-wrapper">
        <div class="logo">
            <a href="/"><img src="/images/KakaoTalk_Photo_2023-06-12-23-02-34-5.jpeg"></a>
            <a href="/">Soulmate</a>
        </div>
        <% if(clientId) { %>
            <div class="user-info">
                <img src=<%= photo %>>
                <a href="#"><%= clientId %> 님</a>
                <a href="/logout" id="btn__log">로그아웃</a>
            </div>
        <% } else  { %>
            <div>
                <div class="user-info">
                    <a href="/login" id="btn__log"> 로그인 </a>
                </div>
            </div>
        <% } %>
    </div>
</div>
