<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/load.css">
    <% if(path === '유저 채널 리스트') { %><link rel="stylesheet" href="/css/my-channel-list.css"><% } %>
    <% if(path === '채널 추가 페이지') { %><link rel="stylesheet" href="/css/create-channel-form.css"><% } %>
    <% if(path === '채널 입장') { %><link rel="stylesheet" href="/css/my-channel-detail.css"><% } %>
    <% if(path === '채팅방') { %><link rel="stylesheet" href="/css/chat.css"><% } %>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
</head>