<div id="header">
    <div class="header__div-wrapper">
        <div class="logo">
            <img src="../../images/apple-touch-icon.png">
            <a href="#">Soulmate</a>
        </div>
        <div class="user-info">
            <img src="https://ranking.sanrio.co.jp/assets/images/characters/pompompurin/img_chara1.png">
            <a href="#">카라멜프라푸치노 님</a>
            <a href="/logout" id="logout">로그아웃</a>
        </div>
    </div>
</div>
