<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/menu.css">
    <% if(path === '유저 채널 리스트') { %><link rel="stylesheet" href="/css/my-channel-list.css"><% } %>
    <% if(path === '채널 입장') { %><link rel="stylesheet" href="/css/my-channel-detail.css"><% } %>
    <!-- <link rel="stylesheet" href="/css/chat.css"> -->
    <!-- <link rel="stylesheet" href="/css/modal.css"> --> 
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"> -->
    <!-- <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"> -->
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"> -->
    <!-- <link rel="manifest" href="/site.webmanifest"> -->
</head>