<div id="header">
    <div class="header__div-wrapper">
        <div class="logo">
            <a href="/"><img src="/images/soulmate-logo.png"></a>
            <a href="/">SOULMATE</a>
        </div>
        <div class="box-contents">
            <a href="/">내 채널</a>
            <a href="/">오픈 채널</a>
            <a href="/">가이드</a>
        </div>
        <% if(clientName) { %>
            <div class="user-info">
                <div class="icon">
                    <i class="fa-solid fa-bell fa-xl"></i>
                </div>
                <img src=<%= photo %>>
                <a href="#"><%= clientName %> 님</a>
                <a href="/logout" id="btn__log">로그아웃</a>
            </div>
        <% } else  { %>
            <div>
                <div class="user-info">
                    <a href="/login" id="btn__log"> 회원가입 / 로그인 </a>
                </div>
            </div>
        <% } %>
    </div>
</div>
