<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/menu.css">
    <!-- <link rel="stylesheet" href="/css/load.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <% if(path === '/') { %><link rel="stylesheet" href="/css/main.css"><% } %>
    <% if(path === '/myprofile') { %><link rel="stylesheet" href="/css/my-profile.css"><% } %>
    <% if(path === '/mychannels' || path === '/wishchannels') { %><link rel="stylesheet" href="/css/my-channel-list.css"><% } %>
    <% if(path === '채널 추가 페이지') { %><link rel="stylesheet" href="/css/create-channel-form.css"><% } %>
    <% if(path === '/mychannel/:channelId?searchWord=member') { %><link rel="stylesheet" href="/css/my-channel-member.css"><% } %>
    <% if(path === '/mychannel/:channelId?searchWord=workspaces') { %><link rel="stylesheet" href="/css/my-channel-workspaces.css"><% } %>
    <% if(path === '/mychannel/:channelId?searchWord=chatRooms') { %><link rel="stylesheet" href="/css/my-channel-chatRooms.css"><% } %>
    <% if(path === '/mychannel/:channelId?searchWord=info') { %><link rel="stylesheet" href="/css/my-channel-info.css"><% } %>
    <% if(path === '/channel/workspace/:channelId/:workspaceId') { %><link rel="stylesheet" href="/css/workspace.css"><% } %>
    <% if(path === '채팅방') { %><link rel="stylesheet" href="/css/chat.css"><% } %>
    <link rel="shortcut icon" type="image/x-icon" href="/images/soulmate-logo.png">
</head>