<div id="load">
    <img src="/images/icons8-spinner.gif" alt="loading">
    <h1>라면에 물 끓이는 중...</h1>
</div>
<!-- <a target="_blank" href="https://icons8.com/icon/zmHGtU4Ii6NX/spinner">로딩</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> 이걸로 하면됨-->
<!-- <a target="_blank" href="https://icons8.com/icon/w3NTj0HXrLAW/spinner">Spinner</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->
<!-- <a target="_blank" href="https://icons8.com/icon/53BEOIdhQx4u/sand-timer">Sand Timer</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->
<!-- <a target="_blank" href="https://icons8.com/icon/24717/add">Add</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->