
<div id="menu">
    <div class="menu__div-wrapper">
        <div class="title">
            # 참여 채널
        </div>
        <div class="box">
            Soulmate 개발자팀
        </div>
        <div class="box">
            SPOON 개발자팀
        </div>
        <div class="box">
            네이버 디자인팀
        </div>
    </div>
    <div class="menu__div-wrapper">
        <div class="title">
            # 업무 태스트
        </div>
        <div class="box">
            Soulmate 개발자팀: Soulmate 개발일지
        </div>
        <div class="box">
            디자인 작업 현황
        </div>
    </div>
    <div class="menu__div-wrapper">
        <div class="title">
            # 고객문의
        </div>
    </div>
</div>