<div id="menu">
    <div class="menu__div-wrapper">
        <div class="title">
            <button class="open-modal-channel">내 채널</button>
        </div>
    </div>
    <div class="menu__div-wrapper">
        <div class="title">
            # 업무 태스트
        </div>
        <div class="box">
            Soulmate 개발자팀: Soulmate 개발일지
        </div>
        <div class="box">
            디자인 작업 현황
        </div>
    </div>
    <div class="menu__div-wrapper">
        <div class="title">
            # 고객문의
        </div>
    </div>
    <div class="menu__div-wrapper">
        <div class="title">
            <button class="open-modal-channel">채널 생성</button>
        </div>
    </div>
    <% if(chatRooms){ %>
        <% for(let room of chatRooms) { %>
            <div class="box">
                <a href="/client/chat/<%= room.channelId %>/<%= room._id %>"><%= room.roomName %></a>
            </div>
        <% } %>
    <% } %>
</div>