<body>
    <nav class="main-nav">
        <ul class="main-nav__item-list">
            <li class="main-nav__item-logo"><img src="/images/android-chrome-192x192.png"></li>
            <li class="main-nav__item"><a href="#">내 프로필</a></li>
            <li class="main-nav__item"><a href="/client/mychannels">채널 목록</a></li>
            <li class="main-nav__item"><a href="#">메모장</a></li>
            <li class="main-nav__item"><a href="#">채널 프로필</a></li>
            <% if(chatRooms){ %>
                <% for(let room of chatRooms) { %>
                    <li class="main-nav__item"><a href="/client/chat/<%= room.channelId %>/<%= room._id %>"><%= room.roomName %></a></li>
                    <% } %>
            <% } %>
            <li class="main-nav__item"><button class="open-modal">채널 생성</button></li>
            <li class="main-nav__item"><a href="/logout"><h3>로그아웃</h3></a></li>
        </ul>
    </nav>

    <!-- 채널생성 클릭시 모달창 오픈 -->
    <div class="container hidden">
        <div class="modal hidden">
            <form action="/client/channel/create" method="post">
                <div class="input-box">
                    <input type="text" name="channelName" id="channelName" placeholder="채널명을 입력하세요.">
                </div>
                <div class="input-box">
                    <input type="text" name="thumbnail" id="thumbnail" placeholder="채널을 대표할 사진경로를 입력하세요.">
                </div>
                <div class="input-box">
                    <button type="submit">채널 생성</button>
                </div>
            </form>
            <div class="close-modal-button__box">
                <button class="close-modal"> x </button>
            </div>
        </div>
    </div>
 
    <script src="/js/modal.js"></script>