<!DOCTYPE html>
<html lang="en">
<%- include('./includes/head.ejs') %>
<body>
    <%- include('./includes/header.ejs') %>
    <%- include('./includes/menu.ejs') %>
    <!-- 곰돌이 채널, 느낌표, 팀원, 피드 -->
    <a href="https://www.flaticon.com/kr/free-icons/" title="느낌표 아이콘">느낌표 아이콘  제작자: Freepik - Flaticon</a>
    <div> 아이콘 제작자 <a href="https://www.flaticon.com/kr/authors/flipicon" title="Flipicon"> Flipicon </a> from <a href="https://www.flaticon.com/kr/" title="Flaticon">www.flaticon.com'</a></div>
    <!-- 오픈 아이콘, 클로즈 아이콘 -->
    <a href="https://www.flaticon.com/kr/free-icons/-" title="- 오픈 아이콘">- 아이콘  제작자: Good Ware - Flaticon</a>
    <!-- 큐브 아이콘, 채팅 아이콘 -->
    <div> 
        아이콘 제작자 <a href="https://www.flaticon.com/kr/authors/samlakodad" title="samlakodad"> samlakodad </a> from <a href="https://www.flaticon.com/kr/" title="Flaticon">www.flaticon.com'</a>
        <a href="https://www.flaticon.com/kr/free-icons/" title="클러스터 아이콘">클러스터 아이콘  제작자: samlakodad - Flaticon</a>
    </div>

    <!-- 개발 아이콘 -->
    <a href="https://www.flaticon.com/kr/free-icons/-" title="소프트웨어 개발 아이콘">소프트웨어 개발 아이콘  제작자: Dragon Icons - Flaticon</a>
    <a href="https://www.flaticon.com/kr/authors/samlakodad" title="소프트웨어 개발 아이콘">소프트웨어 개발 아이콘  제작자: Dragon Icons - Flaticon</a>

    <!-- 송전탑 -->
    <a href="https://www.flaticon.com/kr/free-icons/-" title="전송 타워 아이콘">전송 타워 아이콘  제작자: alkhalifi design - Flaticon</a>
</body>
</html>