body {
    position: fixed;
}

.board {
    margin-top: 3vh;
    margin-left: 250px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    width: 700px;
    height: 95vh;
    background-color: white;
    align-items: top;
}

.board-chat__history {
    margin: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    width: 100%;
    height: 70vh;
    /* background: #8240c0a6; */
    background: rgb(235, 222, 203);
    overflow: scroll;
    overflow-x: hidden;
}

/* .board-chat__history:hover {
    overflow: scroll;
    overflow-x: hidden;
} */

.board-chat__history::-webkit-scrollbar {
    width: 10px;
    background: rgb(235, 222, 203);
}

.board-chat__history::-webkit-scrollbar-thumb {
    width: 10px;
    /* height: 20px; */
    border-radius: 50px;
    background-color: rgb(155, 151, 151);
    /* box-shadow: inset 0px 0px 5px white; */
}

.board-chat__history::-webkit-scrollbar-track {
    background: rgb(235, 222, 203);
}

.board-chat__chatBox {
    margin-top: 20px;
    margin: 0;
    background: white;
    width: 100%;
    height: 25vh;
    /* 가로스크롤 삭제 */
    overflow-x: hidden;
}

.board-chat__chatBox textarea {
    margin-top: 20px;
    margin-left: 20px;
    background: white;
    /* border-radius: 0.5rem; */
    width: 650px;
    height: 15vh;
    border: none;
    resize: none;
    overflow: auto;
    position: fixed;
}

.board-chat__chatBox textarea:focus {
    outline: none;
}

.board-chat__chatBox button {
    margin-left: 600px;
    margin-top: 20vh;
    display: inline-block;
    padding: 0.25rem 1rem;
    text-decoration: none;
    font: inherit;
    border: 1px solid #00695c;
    color: #00695c;
    background: white;
    border-radius: 3px;
    cursor: pointer;
}

.board-chat__chatBox button:hover,
.board-chat__chatBox button:active {
    background-color: #00695c;
    color: white;
}