@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
    position: fixed;
}

/* 메인 프로필 큰 컨테이너 -> 안에 있는 박스들은 아래로 정렬 -> display: inline-block */
.main-profile {
    margin: 5vh;
    margin-left: 15vw;
    width: 80vw;
    height: 90vh;
    /* border: groove; */
    display: inline-block;
}

/* 프로파일 컨테이너안에 맨위 헤더 */
.main-profile__header {
    display: flex;
}

/* 채널 프로필 사진 원모양 */
.main-profile__header .thumbnail img {
    border: groove rgb(155, 151, 151);
    width: 15vw;
    height: 25vh;
    /* 원모양 */
    border-radius: 70%;
    overflow: hidden;
    /* 사진 오브젝트가 원안에 딱맞게 함 */
    object-fit: cover;
}

.main-profile__content {
    width: 50vw;
    /* border: groove; */
    height: 25vh;
    display: block;
}

.main-profile__content_item h1 {
    /* border: groove; */
    text-align: left;
    width: 30vw;
    height: 5vh;
    margin-left: 1vw;
}


.main-profile__member-list {
    margin: 5vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* border: groove; */
    width: 75vw;
    height: 55vh;
    overflow: scroll;
    overflow-x: hidden;
}

.title {
    text-align: left;
    margin-top: 5vh;
    margin-left: 5vw;
    /* border: groove; */
    width: 5vw;
}

.main-profile__member-list::-webkit-scrollbar {
    width: 10px;
}

.main-profile__member-list::-webkit-scrollbar-thumb {
    width: 10px;
    /* height: 20px; */
    border-radius: 50px;
    background-color: rgb(155, 151, 151);
}

.main-profile__member-list::-webkit-scrollbar-track {
    background: white;
}

.main-profile__member-list .main-profile__member {
    margin-top: 1vh;
    width: 10vw;
    height: 20vh;
    text-decoration: none;
    text-align: center;
    border-radius: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    display: block;
    color: #0f0404bd;
}

.main-profile__member a {
    text-align: center;
    font-style: initial;
}

.main-profile__member-list .main-profile__member img {
    width: 10vw;
    height: 15vh;
    overflow: hidden;
    /* 사진 딱맞게 함 */
    object-fit: cover;
}