body {
    margin: 0;
    display: flex;
    overflow: hidden;
}

/* 채팅박스 큰 컨테이너 */
.board-chat {
    margin-top: 70px;
    margin-left: 230px;
    --box-width: 100%;
    --box-height: auto;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26); */
    border: groove rgba(0, 0, 0, 0.26) 0.5px;
    width: var(--box-width);
    height: var(--box-height);
    display: inline-block;
    text-align: center;
    overflow: hidden;
    /* 박스 서서히 나타나기 */
    animation: fadein 1s;
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* 채팅 히스토리 박스 */
.board-chat__box-history {
    /* border: groove black 0.5px; */
    margin-top: 60px;
    width: var(--box-width);
    height: 71vh;
    background: rgb(235, 222, 203);
    /* background: #ffffff; */
    overflow: scroll;
    overflow-x: hidden;
}

/* 단위 채팅 내용 큰박스 */
.board-chat__unit-chat-box {
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 20px;
    /* padding-top: 1px; */
    padding: 0;
    width: 96%;
    display: flex;
    text-align: left;
    font-size: 15px;
    background: rgb(235, 222, 203);
    /* background: #ffffff; */
    /* border: groove black 0.5px; */
}

.board-chat__unit-chat-img {
    margin: 0;
    width: 50px;
    height: 50px;
    border-radius: 20rem;
    background: #ffffff;
}

.board-chat__unit-chat-img img {
    width: 50px;
    height: 50px;
    border-radius: 1rem;
    cursor: pointer;
}

.chat {
    margin-left: 10px;
    /* border: groove black 0.5px; */
}

#images {
    width: 300px;
    height: 300px;
    border: 1px groove rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}

.client-name {
    color: rgb(212, 78, 21);
    font-weight: bolder;
}

.other-client-name {
    color: rgb(169, 151, 143);
    font-weight: bolder;
}

.chat-date {
    margin-left: 10px;
    display: flex;
    align-items: end;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.26);
    /* border: groove black 0.5px; */
}

/* 단위 채팅 내용 박스*/
.board-chat__unit-chat {
    margin-top: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.26);
    /* padding-top: 1px; */
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    /* max-width: 500px; */
    display: inline-block;
    text-align: left;
    font-size: 15px;
    background: #ffffff;
    /* border: groove black 0.5px; */
    border-radius: 0.5rem;
    box-sizing: border-box;
    white-space: pre-wrap;
    cursor: pointer;
}

/* 채팅 히스토리 박스 스크롤 디자인 */
.board-chat__box-history::-webkit-scrollbar {
    width: 6px;
    background: rgb(235, 222, 203);
}

.board-chat__box-history::-webkit-scrollbar-thumb {
    width: 6px;
    background: rgb(155, 151, 151);
    border-radius: 50px;
}

.board-chat__box-history::-webkit-scrollbar-track {
    width: 6px;
    border-radius: 50px;
    background: rgb(235, 222, 203);
}




/* 채팅 입력 박스 */
.board-chat__box-chat {
    /* border: groove black 0.5px; */
    padding-top: 10px;
    width: var(--box-width);
    height: auto;
    /* display: block; */
    /* background: black; */
}

/* 채팅 입력 폼 */
.board-chat__textarea {
    /* margin-top: 2vh; */
    padding-top: 20px;
    padding-left: 20px;
    width: calc(var(--box-width) - 40px);
    height: auto;
    border: groove rgba(0, 0, 0, 0.26) 0.1rem;
    border-radius: 10px;
    letter-spacing: 0.5px;
    resize: none;
}

/* 채팅 입력폼 스크롤 디자인 */
.board-chat__textarea::-webkit-scrollbar {
    /* padding-top: 5px; */
    width: 10px;
    background: #ffffff;
}

.board-chat__textarea::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 50px;
    background: rgb(155, 151, 151);
}

.board-chat__textarea::-webkit-scrollbar-track {
    padding-top: 5px;
    width: 10px;
    border-radius: 50px;
    background: #ffffff;
}

/* 채팅 입력 폼 눌렀을 때 */
.board-chat__box-chat textarea:focus {
    outline: none;
}

/* 전송버튼 */
.board-chat__btn {
    margin-right: 10px;
    padding: 10px;
    border: 0.5px groove rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    background: #ffffff;
    cursor: pointer;
    float: right;
}

.board-chat__btn i {
    color: #007A5A;
}

.board-chat__btn:hover,
.board-chat__btn:active {
    opacity: 0.7;
}

/* ----------------------------------------------------------------------------------- */

/* 서브 보드 */
.board-sub {
    margin-top: 70px;
    margin-left: 0;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26); */
    --box-width: 60%;
    --box-height: 92vh;
    width: var(--box-width);
    height: var(--box-height);
    display: block;
    text-align: left;
    border-right: groove rgba(0, 0, 0, 0.26) 0.5px;
    border-bottom: groove rgba(0, 0, 0, 0.26) 0.5px;
    animation: fadein 3s;
    -webkit-animation: fadein 2s;
}

/* 토글 버튼 박스, 토글 버튼 */
.box__btn-toggle {
    --box-width: 100%;
    width: var(--box-width);
    height: 5vh;
    display: flex;
}

/* 토글버튼 활성화 css */
.btn-toggle.active {
    width: calc(var(--box-width) / 2);
    height: 5vh;
    /* box-shadow: 0 0 7px rgba(0, 0, 0, 0.26); */
    background: #ffffff;
    border: none;
}

/* 비활성화 */
.btn-toggle {
    width: calc(var(--box-width) / 2);
    height: 5vh;
    background: #3433333b;
    border: none;
}

/* 토글버튼 마우스 오버시 */
.btn-toggle:hover {
    width: calc(var(--box-width) / 2);
    height: 5vh;
    color: black;
    background: #a09c9c3b;
    border: none;
}

/* 보드 히든 */


/* 참여자 보드 활성화 */
.board-user {
    display: block;
    background: white;
}

/* 참여자 보드 비활성화 */
.board-user.hidden {
    display: none;
}

.board-user img {
    width: 50px;
    height: 50px;
    /* border: 1px groove rgb(157, 153, 153); */
    border-radius: 20px;
    cursor: pointer;
}

.number {
    padding-left: 25px;
    display: flex;
    align-items: center;
}


.box {
    padding: 10px;
    padding-left: 23px;
    display: flex;
    align-items: center;
    background: #ffffff;
    cursor: pointer;
    /* border: 1px groove rgb(157, 153, 153); */
}

.box:hover,
.box:active {
    opacity: 0.5;
}

.box p {
    padding-left: 20px;
    font-size: 16px;
    color: rgb(73, 71, 71);
    font-weight: bolder;
}

.box a {
    padding-left: 20px;
    font-size: 16px;
    text-decoration: none;
    color: rgb(73, 71, 71);
    font-weight: bolder;
}

/* .box input {
    float: right;
} */

/* 업무보드 및 히스토리 보드*/
.board-task {
    display: block;
}

.board-task.hidden {
    display: none;
}

.task-date__box {
    margin-top: 20px;
    /* padding: 15px; */
    width: var(--box-width);
    display: block;
    justify-content: center;
    /* border: groove; */
}

/* 채팅보드 상단 박스 */
.room-name-container {
    padding: 20px;
    width: auto;
    height: auto;
    text-align: left;
    display: block;
    position: fixed;
    /* border: 1px groove rgba(0, 0, 0, 0.26); */
    background: #ffffff;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.26); */
}

.room-name-box {
    padding: 0;
    background: #ffffff;
    cursor: pointer;
}

.room-name-box span {
    padding-left: 20px;
    color: #1d1c1d;
}

.room-name-box i {
    width: 10px;
    height: 10px;
    opacity: 0.7;
    cursor: pointer;
}

.hamburger-menu-container {
    /* margin-top: 4px; */
    position: fixed;
    display: block;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border-radius: 10px;
    animation: movedown 0.5s;
    -webkit-animation: movedown 0.5s;
    -moz-animation: movedown 0.5s;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.26);
    /* border: 1px groove rgba(0, 0, 0, 0.26); */
}

.hamburger-menu {
    padding: 10px;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    /* border: 1px groove rgba(0, 0, 0, 0.26); */
    background: #ffffff;
    z-index: 99;
    animation: movedown 0.5s;
    -webkit-animation: movedown 0.5s;
    -moz-animation: movedown 0.5s;
}

@keyframes movedown {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes movedown {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes movedown {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.hamburger-menu button {
    padding: 10px;
    padding-bottom: 14px;
    text-align: left;
    border: none;
    color: #1d1c1d;
    font-size: 14px;
    background: #ffffff;
    /* border-bottom: 1px groove rgba(0, 0, 0, 0.26); */
    cursor: pointer;
}

.hamburger-menu a {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
    border: none;
    color: #1d1c1d;
    font-size: 14px;
    text-decoration: none;
    background: #ffffff;
    border-bottom: 1px groove rgba(0, 0, 0, 0.26);
    cursor: pointer;
}

.hamburger-menu span {
    padding-left: 20px;
    color: #1d1c1d;
}

.content {
    padding: 10px;
    width: 160%;
    display: block;
    background: rgb(243, 243, 246);
    /* border: 0.5px groove rgba(0, 0, 0, 0.26); */
    font-size: 14px;
}

#preview img {
    /* padding: 20px; */
    width: 100%;
    height: 400px;
    border: 0.5px groove rgba(0, 0, 0, 0.26);
    border-radius: 10px;
}

/* 채널에 속한 유저 리스트 활성화 */
.board-channel-user-list {
    width: 100%;
    display: block;
    background: white;
    /* border: 1px solid black; */
}

.board-channel-user-list.hidden {
    display: none;
}

/* 팀원 추가 클릭시 토글버튼 박스 히든 */
.box__btn-toggle.hidden {
    display: none;
}

.box__div-select-push {
    padding: 5px;
    padding-left: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    vertical-align: center;
    font-size: 13px;
    font-weight: lighter;
    /* box-shadow: 0 0 7px rgba(0, 0, 0, 0.26); */
    border: 1px 1px groove rgb(169, 156, 156);
}

.select-user {
    padding: 5px;
    text-align: center;
    cursor: pointer;
    animation: move 0.5s;
    -webkit-animation: move 0.5s;
    -moz-animation: move 0.5s;
}

.select-user p {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.26);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

@keyframes move {
    from {
        margin-left: 50px;
        opacity: 0;
    }

    to {
        margin-left: 0;
        opacity: 1;
    }
}

@-webkit-keyframes move {
    from {
        margin-left: 50px;
        opacity: 0;
    }

    to {
        margin-left: 0;
        opacity: 1;
    }
}

@-moz-keyframes move {
    from {
        margin-left: 50px;
        opacity: 0;
    }

    to {
        margin-left: 0;
        opacity: 1;
    }
}

.box__div-select-push.hidden {
    display: none;
}

.board-channel-user-list img {
    width: 50px;
    height: 50px;
    border: 1px groove rgb(157, 153, 153);
    border-radius: 50px;
    cursor: pointer;
}

/* 채널에있는 유저리스트 박스 */

.new-box {
    background: #ffffff;
    /* border: 1px groove rgb(157, 153, 153); */
}

.new-box:hover,
.new-box:active {
    opacity: 0.7;
}

.new-box p {
    padding-left: 20px;
    font-size: 16px;
    color: rgb(73, 71, 71);
    font-weight: bolder;
}

.new-box label {
    padding: 10px;
    padding-left: 23px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    cursor: pointer;
    /* border: 1px groove rgb(157, 153, 153); */
}

.new-box i {
    color: rgba(0, 0, 0, 0.2);
}

.new-box input[type='checkbox'] {
    display: none;
}

.box__top {
    padding: 0;
    text-align: right;
}

.box__exit {
    border-bottom: 0.5px groove rgba(0, 0, 0, 0.26);
}

.btn__exit {
    padding: 13px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: right;
    border: none;
    font-size: 30px;
    background: #ffffff;
    cursor: pointer;
}

.btn__exit:hover,
.btn__exit:active {
    color: black;
    opacity: 0.5;
    /* background-color: rgb(234, 212, 179); */
}

.box__btn__add-member {
    margin: 5px;
    padding: 17px;
}

.box__btn__add-member span {
    padding-left: 15px;
    font-size: 20px;
    color: black;
}

.btn__add-member {
    background-color: rgb(235, 222, 203);
    border-radius: 20rem;
    /* border: 1px solid #ffffff; */
    width: 50px;
    height: 50px;
    border: none;
    display: inline-block;
    cursor: pointer;
    font-weight: 100px;
    color: black;
    font-family: Arial;
    font-size: 30px;
    padding: 5px 14px;
    text-decoration: none;
}

.btn__add-member:hover,
.btn_add-memver:active {
    color: black;
    background-color: rgb(234, 212, 179);
}