body {
    margin: 0;
    display: flex;
    overflow: hidden;
}

/* 채팅박스 큰 컨테이너 */
.board-chat {
    margin-top: 70px;
    margin-left: 295px;
    --box-width: 50vw;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    /* border: groove black 0.5px; */
    width: var(--box-width);
    height: 90vh;
    display: block;
    text-align: center;
    overflow: hidden;
}

/* 채팅 히스토리 박스 */
.board-chat__box-history {
    /* border: groove black 0.5px; */
    width: var(--box-width);
    height: 65vh;
    background: rgb(235, 222, 203);
    overflow: scroll;
    overflow-x: hidden;
}

/* 단위 채팅 내용 큰박스 */
.board-chat__unit-chat-box {
    margin-top: 40px;
    margin-left: 20px;
    /* padding-top: 1px; */
    padding: 0;
    width: 600px;
    display: flex;
    text-align: left;
    font-size: 15px;
    background: rgb(235, 222, 203);
    /* border: groove black 0.5px; */
}

/* .board-chat__unit-chat-box.opponent {
    margin-top: 40px;
    padding: 0;
    width: 160px;
    display: flex;
    font-size: 15px;
    background: rgb(235, 222, 203);
    border: groove black 0.5px;
    float: right;
} */

.board-chat__unit-chat-img {
    margin: 0;
    width: 50px;
    height: 50px;
    border-radius: 20rem;
    background: #ffffff;
}

.board-chat__unit-chat-img img {
    width: 50px;
    height: 50px;
    border-radius: 1rem;
}

.chat {
    margin-left: 10px;
}

.client-name {
    color: rgb(212, 78, 21);
    font-weight: bolder;
}

/* 단위 채팅 내용 */
.board-chat__unit-chat {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.26);
    /* padding-top: 1px; */
    padding: 5px;
    padding-left: 10px;
    max-width: 170px;
    display: block;
    text-align: left;
    font-size: 15px;
    background: #ffffff;
    /* border: groove black 0.5px; */
    border-radius: 0.5rem;
    box-sizing: border-box;
}

/* 채팅 히스토리 박스 스크롤 디자인 */
.board-chat__box-history::-webkit-scrollbar {
    width: 10px;
    background: rgb(235, 222, 203);
}

.board-chat__box-history::-webkit-scrollbar-thumb {
    width: 10px;
    background: rgb(155, 151, 151);
    border-radius: 50px;
}

.board-chat__box-history::-webkit-scrollbar-track {
    width: 10px;
    border-radius: 50px;
    background: rgb(235, 222, 203);
}




/* 채팅 입력 박스 */
.board-chat__box-chat {
    /* border: groove black 0.5px; */
    width: var(--box-width);
    height: 30vh;
    display: block;
    /* background: black; */
}

/* 채팅 입력 폼 */
.board-chat__textarea {
    margin-top: 2vh;
    padding-top: 20px;
    padding-left: 20px;
    width: calc(var(--box-width) - 30px);
    height: 20vh;
    border: none;
    resize: none;
}

/* 채팅 입력폼 스크롤 디자인 */
.board-chat__textarea::-webkit-scrollbar {
    /* padding-top: 5px; */
    width: 10px;
    background: #ffffff;
}

.board-chat__textarea::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 50px;
    background: rgb(155, 151, 151);
}

.board-chat__textarea::-webkit-scrollbar-track {
    padding-top: 5px;
    width: 10px;
    border-radius: 50px;
    background: #ffffff;
}

/* 채팅 입력 폼 눌렀을 때 */
.board-chat__box-chat textarea:focus {
    outline: none;
}

/* 전송버튼 */
.board-chat__btn {
    margin-left: 500px;
    /* background:linear-gradient(to bottom, #e4685d 5%, #eb675e 100%); */
    background-color: rgb(235, 222, 203);
    border-radius: 4px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-family: Arial;
    font-size: 15px;
    padding: 6px 15px;
    text-decoration: none;
    /* text-shadow:0px 1px 0px #b23e35; */
}

.board-chat__box-chat button:hover,
.board-chat__box-chat button:active {
    border: none;
    background: rgb(190, 183, 172);
}

/* ----------------------------------------------------------------------------------- */

/* 서브 보드 */
.board-sub {
    margin-top: 70px;
    /* margin-left: 20px; */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    width: 400px;
    height: 95vh;
    display: block;
    text-align: left;
}

/* 토글 버튼 박스, 토글 버튼 */
.box__btn-toggle {
    width: 500px;
    height: 5vh;
    display: flex;
}

/* 토글버튼 활성화 css */
.btn-toggle.active {
    width: 250px;
    height: 5vh;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.26);
    background: #ffffff;
    border: none;
}

/* 비활성화 */
.btn-toggle {
    width: 250px;
    height: 5vh;
    background: #3433333b;
    border: none;
}

/* 토글버튼 마우스 오버시 */
.btn-toggle:hover {
    width: 250px;
    height: 5vh;
    color: black;
    background: #a09c9c3b;
    border: none;
}

/* 보드 히든 */


/* 참여자 보드 활성화 */
.board-user {
    display: block;
    background: white;
}

/* 참여자 보드 비활성화 */
.board-user.hidden {
    display: none;
}

.board-user img {
    width: 50px;
    height: 50px;
    border: 1px groove rgb(157, 153, 153);
    border-radius: 20px;
}

.number {
    padding-left: 25px;
    display: flex;
    align-items: center;
}

.box {
    padding: 20px;
    display: flex;
    align-items: center;
    /* border: groove; */
}

.box a {
    padding-left: 15px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(73, 71, 71);
    font-weight: bolder;
}

/* .box input {
    float: right;
} */

/* 업무보드 및 히스토리 보드*/
.board-task {
    display: block;
}

.board-task.hidden {
    display: none;
}

.task-date__box {
    margin-top: 20px;
    width: 450px;
    display: block;
    justify-content: center;
    /* border: groove; */
}

.date {
    margin-left: 160px;
    padding: 10px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.26);
    /* width: auto; */
    display: inline-block;
    text-align: center;
    border-radius: 40px;
    border: 0.1px solid rgb(223, 213, 213);
    font-weight: bold;
}

.content {
    margin-top: 30px;
    padding: 20px;
    width: 460px;
    display: block;
    background: rgb(243, 243, 246);
    font-size: 14px;
}

/* 채널에 속한 유저 리스트 활성화 */
.board-channel-user-list {
    display: block;
    background: white;
}

.board-channel-user-list.hidden {
    display: none;
}

/* 팀원 추가 클릭시 토글버튼 박스 히든 */
.box__btn-toggle.hidden {
    display: none;
}

.box__div-select-push {
    width: 500px;
    height: 12vh;
    display: flex;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.26);
    /* border-bottom: 1px solid rgb(169, 156, 156); */
}

.item {
    padding: 20px;
    display: block;
    font-size: 15px;
    /* border: groove; */
    /* align-items: center; */
    text-align: left;
}

.box__div-select-push.hidden {
    display: none;
}

.board-channel-user-list img {
    width: 50px;
    height: 50px;
    border: 1px groove rgb(157, 153, 153);
    border-radius: 50px;
}

.box label {
    margin-left: auto;
    width: 30px;
    height: 30px;
    border: #817575;
    text-align: right;
}

.checkbox{
    display: inline-block; /* 영역적용가능해짐 */
    width: 20px; height: 20px;
    border: 1px solid #c2b7b7;
    box-sizing: border-box;
    border-radius: 10px; /* 모서리둥글게 처리 */
    position: relative; top: 4px;
    cursor: pointer; /* 마우스 올렸을때 손모양 처리 */
}

.checkbox :checked::after {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: #817575;
    float: right;
}

.box input[type='checkbox'] {
    width: 30px;
    height: 30px;
    border: #817575;
}

.box input[type='checkbox']+label {
    margin-left: auto;
    width: 30px;
    height: 30px;
    border-radius: 20px 50px;
    border: #817575;
    text-align: right;
}

.box input[name="users"]:checked::before {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: #817575;

}

.box input[name="users"]:checked::after {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: #817575;
    float: right;
}

.box__top {
    width: 500px;
    height: 5vh;
    display: flexbox;
    align-items: end;
    /* box-shadow: 0 0 7px rgba(0, 0, 0, 0.26); */
}

.box__exit {
    padding: 5px;
}

.btn__exit {
    /* background-color: rgb(235, 222, 203); */
    background-color: white;
    border-radius: 20rem;
    /* border: 1px solid #ffffff; */
    width: 30px;
    height: 30px;
    border: none;
    display: inline-block;
    cursor: pointer;
    font-weight: 100px;
    color: black;
    font-family: Arial;
    font-size: 20px;
    /* padding: 5px; */
    text-decoration: none;
}

.btn__exit:hover,
.btn__exit:active {
    color: black;
    background-color: rgb(234, 212, 179);
}

.box__btn__add-member {
    margin: 5px;
    padding: 17px;
}

.box__btn__add-member span {
    padding-left: 15px;
    font-size: 20px;
    color: black;
}

.btn__add-member {
    background-color: rgb(235, 222, 203);
    border-radius: 20rem;
    /* border: 1px solid #ffffff; */
    width: 50px;
    height: 50px;
    border: none;
    display: inline-block;
    cursor: pointer;
    font-weight: 100px;
    color: black;
    font-family: Arial;
    font-size: 30px;
    padding: 5px 14px;
    text-decoration: none;
}

.btn__add-member:hover,
.btn_add-memver:active {
    color: black;
    background-color: rgb(234, 212, 179);
}