body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* 바디 스크롤 디자인 */
body::-webkit-scrollbar {
    width: 8px;
    background: rgb(235, 222, 203);
}

body::-webkit-scrollbar-thumb {
    width: 10px;
    background: rgb(155, 151, 151);
    border-radius: 70px;
}

body::-webkit-scrollbar-track {
    width: 10px;
    background: #ffffff;
}

#container__form-box {
    /* margin-top: 70px; */
    margin-left: 300px;
    padding: 70px;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    /* border: 1px groove black; */
}

.box__div-form {
    margin-top: 0;
    padding: 50px;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* border: 1px groove black; */
}

#thema001 {
    margin-left: 10px;
    padding: 5px;
    font-size: 22px;
    font-weight: bold;
    /* border: 1px solid black; */
}

#open {
    padding: 0.5rem;
}
#open label{
    margin-right: 50px;
}

.box__input {
    padding: 0;
    margin-top: 20px;
    border: 1px solid rgb(214, 211, 211);
}

.box__input label {
    margin-left: -40px;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    font-family: dotum;
    /* border: 1px groove black; */
}

.box__input span {
    padding: 10px;
}

.box__input input {
    padding: 10px;
    /* padding-left: 20px; */
    width: 350px;
    /* height: 4vh' */
    font-size: 15px;
    border: none;
}

.box__input select {
    padding: 10px;
    padding-right: 0px;
    /* padding-left: 20px; */
    width: 350px;
    /* height: 4vh' */
    font-size: 15px;
    border: none;
}

.box__input select:focus {
    /* outline: 1px groove #ffffff; */
    outline: none;
}

.box__input ::placeholder {
    padding: 10px;
    padding-left: 0;
}

.box__input input:focus {
    outline: none;
    /* outline: 1px groove #ffffff; */
}

.box__input input:focus label {
    border: 1px groove #ffffff;
}

#box__button__submit {
    padding: 0;
    margin-top: 20px;
    /* border: 1px solid rgb(214, 211, 211); */
}

#box__button__submit button {
    padding: 10px;
    width: 500px;
    /* height: 5vh; */
    text-align: center;
    text-decoration: none;
    font: inherit;
    border: none;
    font-size: 15px;
    /* border: 1px solid black; */
    color: black;
    /* background: rgb(235, 222, 203); */
    background: rgb(243, 243, 246);
    border-radius: 3px;
    cursor: pointer;
}


#box__button__submit button:hover,
#box__button__submit button:active {
    background: rgb(180, 180, 189);
}

/* 채팅 입력폼 스크롤 디자인 */
.contents-form__textarea {
    padding-top: 20px;
    width: 500px;
    height: 21vh;
    border: none;
    resize: none;
}

.contents-form__textarea::placeholder {
    padding: 0;
}

.contents-form__textarea::-webkit-scrollbar {
    /* padding-top: 5px; */
    width: 10px;
    background: #ffffff;
}

.contents-form__textarea::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 50px;
    background: rgb(155, 151, 151);
}

.contents-form__textarea::-webkit-scrollbar-track {
    padding-top: 5px;
    width: 10px;
    border-radius: 50px;
    background: #ffffff;
}

/* 채팅 입력 폼 눌렀을 때 */
.contents-form__textarea:focus {
    outline: none;
}

.footer {
    margin-left: 300px;
    padding: 50px;
    text-align: center;
    width: 600px;
    height: 200px;
    border: 1px groove black;
}