body {
    margin: 0;
}

/* wrapper 부모 */
#header {
    margin: 0;
    padding: 0;
    width: 100%;
    background: rgb(243, 243, 246);
    position: fixed;
    z-index: 99;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.26); */
}

/* logo부모 */
.header__div-wrapper {
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border:1px groove black; */
}

/* 맨 왼쪽 로고 박스 */
.logo {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:1px groove black; */
    /* letter-spacing: 2px; */
    font-weight: bold;
    font-size: 30px;
    font-family: 'Roboto';
}

/* 로고 박스안에 이미지 */
.logo img {
    width: 50px;
    height: 50px;
}

/* 로고 박스 안에 앱이름 텍스트 */
.logo a {
    padding-left: 10px;
    text-decoration: none;
    color: #000000;
}

/* 맨오른쪽 유저 정보 박스 */
.user-info {
    display: flex;
    align-items: center;
}

/* 맨오른쪽 유저 정보 박스 안에 이미지 */
.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 1px groove rgb(157, 153, 153);
}

/* 맨오른쪽 유저 정보 박스 안에 앵커태그(클라이언트 아이디)*/
.user-info a {
    padding-left: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 11px;
    font-family: sans-serif;
}

/* 로그아웃 버튼 => 앵커 태그임 */
.user-info #btn__log {
    margin-left: 8px;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    font-family: sans-serif;
    background: black;
    border-radius: 20px;
    opacity: 0.8;
}

.icon {
    padding: 10px;
    padding-right: 20px;
    cursor: pointer;
}

.icon i {
    color: rgba(0, 0, 0, 0.26)
}

.box-contents {
    margin-left: 20px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.box-contents a {
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    font-size: 16px;
    color: #333333;
    font-weight: 500;
}

.box-contents a:hover,
.box-contents a:active {
    border-bottom: 5px groove rgba(0, 0, 0, 0.26);
}