body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* 바디 스크롤 디자인 */
body::-webkit-scrollbar {
    width: 8px;
    background: rgb(235, 222, 203);
}

body::-webkit-scrollbar-thumb {
    width: 10px;
    background: rgb(155, 151, 151);
    border-radius: 70px;
}

body::-webkit-scrollbar-track {
    width: 10px;
    background: #ffffff;
}

#channel-container {
    /* margin-top: 70px; */
    margin-left: 220px;
    padding: 80px;
    width: auto;
    display: block;
    align-items: center;
    background: #ffffff;
    text-align: center;
    /* border: 1px groove black; */
}

.channel-list {
    margin-top: 0;
    /* padding: 50px; */
    display: block;
    /* border: 1px solid black; */
    text-align: left;
}

#box-search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    /* border: 1px solid black; */
    text-align: center;
}

#category {
    padding: 12px;
    width: 190px;
    border: 1px groove rgba(0, 0, 0, 0.26);
    border-right: #ffffff;
    border-radius: 20px 0 0 20px;
    font-size: 15px;
    outline: none;
}

#search {
    padding: 12px;
    width: 60%;
    font-size: 16px;
    border: 1px groove rgba(0, 0, 0, 0.26);
    border-radius: 0 20px 20px 0;
    outline: none;
}

#btn__search {
    padding: 12px;
    border: none;
    border-radius: 20px;
    background: rgb(243, 243, 246);
    cursor: pointer;
}


#tab-box {
    margin-top: 10px;
    padding: 5px;
    text-align: center;
}

/* 타이틀과 채널박스 아이템들 */
.wrapper-title-channel-container {
    padding: 0;
    padding-left: 0;
    display: block;
    /* display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, 1000px); */
    /* border: 1px solid black; */
}

#title {
    margin-top: 40px;
    margin-bottom: 10px;
    padding-left: 5px;
    text-align: left;
    /* border: 1px solid black; */
    display: flex;
    align-items: end;
}

.title-inner {
    display: flex;
    align-items: end;
}

.title-inner span {
    margin-left: 10px;
    text-align: left;
    font-size: 20px;
}

.title-inner img {
    width: 35px;
    height: 35px;
}

.type {
    padding: 10px 15px 10px 15px;
    text-align: center;
    text-decoration: none;
    border: none;
    font: inherit;
    font-size: 14px;
    color: black;
    background: rgb(243, 243, 246);
    border-radius: 20px;
    cursor: pointer;
}

/* .type {
    padding: 50px 10px 50px 10px;
    text-align: center;
    text-decoration: none;
    border: none;
    font: inherit;
    font-size: 14px;
    color: black;
    background: #ffffff;
    border-radius: 20px;
    cursor: pointer;
} */

/* .type img {
    width: 50px;
    height: 50px;
} */

/* .type.active {
    color: #ffffff;
    background: rgb(243, 243, 246);
} */

.type:hover,
.type:active {
    background: rgb(233, 233, 237);
}

.client-name {
    color: rgb(212, 78, 21);
}

.channel-box-items {
    padding: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-gap: 25px;
    grid-auto-flow: row;
    /* border: 1px groove rgba(0, 0, 0, 0.26); */
}

.contents__div-wrapper {
    /* padding: 5px; */
    width: 250px;
    text-align: left;
    display: inline-block;
    /* justify-content: flex-end; */
    border: 1px groove rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    /* 박스 서서히 나타나기 */
    animation: fadein 0.7s;
    -webkit-animation: fadein 0.7s;
    -moz-animation: fadein 0.7s;
}

.no-data-comment-container {
    /* border: 1px groove black; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.no-data-comment-box {
    text-align: center;
    display: block;
    align-items: center;
}

.no-data-comment-box img {
    width: 200px;
    height: 200px;
}

#no-data-comment {
    font-size: 18px;
    color: #1c1d1c;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.contents__div-wrapper:hover,
.contents__div-wrapper:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}

.contents__div-wrapper img {
    padding: 0;
    width: 100%;
    height: 150px;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px groove rgba(157, 153, 153, 0.1);
    cursor: pointer;
}

/* card */
.card {
    padding: 15px 0 5px 15px;
    /* border: 1px solid black; */
}

.card_2 {
    padding: 10px 0 15px 15px;
    /* border: 1px solid black; */
}

.card-summary {
    padding: 10px 0 15px 15px;
    color: #333333;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    /* display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; */
    font-size: 1.0625rem;
    text-decoration: none;
    font-weight: 700;
    line-height: 1.55;
    height: 3.5rem;
}

.card span {
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    color: #666666
}

.heart-container {
    padding: 15px 18px 15px 0;
    display: flex;
    justify-content: right;
    position: absolute;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0, 0.01) 20%);
    /* border: 0.5px groove rgba(0, 0, 0, 0.26); */
    border-radius: 10px 10px 0 0;
    width: 240px;
}

.heart-container.heart-box {
    width: 100%;
    opacity: 0.35;
    z-index: 1;
}

.heart-box i {
    opacity: 0.7;
    color: red;
    cursor: pointer;
}

/* .heart {
    padding: 13px;
    padding-top: 15px;
    padding-bottom: 13px;
    border: none;
    border-radius: 30px;
    background: #ffffff;
    cursor: pointer;
}

.heart i {
    color: red;
} */

.hash {
    padding: 7px 10px 7px 10px;
    text-align: center;
    text-decoration: none;
    border: none;
    font-size: 10px;
    color: #666666;
    background: rgb(243, 243, 246);
    border-radius: 20px;
    cursor: pointer;
}

.hash:hover,
.hash:active {
    background: rgb(180, 180, 189);
}

.footer {
    margin-left: 300px;
    padding: 50px;
    text-align: center;
    width: 600px;
    height: 200px;
    border: 1px groove black;
}