body {
    margin: 0;
}

i {
    color: #000000;
}

.menu__section {
    border-bottom: 1px groove rgba(0, 0, 0, 0.1);
}

#menu {
    margin-top: 62px;
    padding: 10px;
    width: 200px;
    height: 90vh;
    display: block;
    position: fixed;
    border-right: 0.1px groove rgba(0, 0, 0, 0.1);
    /* background: rgb(243, 243, 246); */
    background: #ffffff;
    opacity: 0.9;
    overflow: hidden;
    overflow-y: auto;
    z-index: 1;
}

#menu__inner {
    padding: 0;
    display: block;
}

#menu:hover,
#menu:active {
    overflow-y: auto;
}

/* 채팅 히스토리 박스 스크롤 디자인 */
#menu::-webkit-scrollbar {
    width: 1px;
    /* background: rgb(235, 222, 203); */
    border-radius: 50px;
}

#menu::-webkit-scrollbar-thumb:hover,
#menu::-webkit-scrollbar-thumb:active {
    width: 7px;
    height: 10px;
    background: rgb(155, 151, 151);
    border-radius: 50px;
}

#menu::-webkit-scrollbar-track:hover,
#menu::-webkit-scrollbar-track:active {
    width: 1px;
    border-radius: 50px;
    background: rgb(243, 243, 246);
}

.menu__a-wrapper {
    padding: 15px;
    padding-left: 20px;
    text-align: left;
    display: block;
    align-items: center;
    /* border-bottom: 1px groove rgb(214, 211, 211); */
    text-decoration: none;
    color: #0f0f0f;
    font-weight: 400;
    border-radius: 10px;
}

#wishchannels i {
    color: red;
}

/* .menu__a-wrapper img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
} */

.menu__a-wrapper span {
    padding-left: 10px;
    font-size: 13px;
    border-radius: 10px;
}

.menu__a-wrapper:hover,
.menu__a-wrapper:active {
    /* background: rgb(219, 219, 232); */
    background: rgba(219, 219, 232, 0.3);
    border-radius: 10px;
}

.menu__type-title {
    padding: 10px;
    padding-top: 25px;
    display: flex;
    align-items: end;
}

.menu__type-title span {
    margin-left: 10px;
}

.menu__type-title img {
    width: 35px;
    height: 35px;
}

.menu__channel {
    padding: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
}

.menu__channel:hover,
.menu__channel:active {
    background: rgba(219, 219, 232, 0.3);
    border-radius: 10px;
}

.menu__channel span {
    padding-left: 10px;
    font-size: 15px;
    color: #000000;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.menu__channel img {
    /* padding-left: 20px; */
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

.menu__div-wrapper {
    padding: 15px;
    padding-top: 0;
    text-align: left;
    display: block;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    /* border-bottom: 1px groove rgb(245, 240, 240); */
}

.title {
    padding: 15px;
    padding-left: 20px;
    text-align: left;
    display: block;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #0f0f0f;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
}

.title span {
    padding-left: 10px;
}

.title:hover,
.title:active {
    background: rgb(219, 219, 232);
}

.item {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-bottom: 1px groove rgba(0, 0, 0, 0.26);
}

.item:hover,
.item:active {
    background: rgb(219, 219, 232);
    /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.26); */
    /* border: 1px solid black; */
}

.item a {
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    color: #0f0f0f;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: 'Roboto';
    /* border: 1px solid black; */
}

.item p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.26);
    /* white-space : nowrap; */
    text-overflow: ellipsis;
    overflow: hidden;
}

.item button {
    padding: 10px;
    width: 220px;
    display: block;
    text-align: left;
    color: #0f0f0f;
    background: rgb(243, 243, 246);
    cursor: pointer;
    border: none;
}

.item button:hover,
.item button:active {
    background: rgb(219, 219, 232);
}

.menu__copyright {
    padding: 0;
}

#copyright {
    /* margin-top: 20px; */
    padding-top: 10px;
    /* padding-botto: 10px; */
    display: block;
    align-items: center;
    font-size: 12px;
    color: #888;
    /* border-top: 1px groove rgba(0, 0, 0, 0.26); */
}

#copyright a {
    text-decoration: none;
    font-size: 12px;
    color: #888;
}