body {
    margin: 0;
}

#menu {
    margin-top: 70px;
    padding: 0;
    width: 300px;
    height: 1000px;
    display: block;
    position: fixed;
    border-top: 1px groove rgb(214, 211, 211);
    background: rgb(243, 243, 246);
}

.menu__div-wrapper {
    padding: 15px;
    text-align: left;
    display: block;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px groove rgb(214, 211, 211);
}
.title {
    font-weight: bold;
}

.box {
    padding: 10px;
    /* border: 1px solid black; */
}