/* 모달창 공통 css */
.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.26);
}

.modal-add-mode {
    padding: 20px;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.26);
    background: #ffffff;
    opacity: 1;
}

#valid {
    padding: 0 0 0 14px;
    font-size: 13px;
    color: red;
    text-align: left;
}

#open {
    padding: 11px;
    display: flex;
    align-items: center;
    text-align: left;
}

#open label {
    margin-right: 20px;
    /* border: 1px groove rgba(0, 0, 0, 0.1); */
    cursor: pointer;
}

#open i {
    padding-right: 10px;
    color: rgba(0, 0, 0, 0.1);
}

#open input[type=radio] {
    display: none;
}

#open input[type=radio]+label {
    /* border: 1px groove rgba(0, 0, 0, 0.1); */
    cursor: pointer;
}

.box__input {
    padding: 1px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 120px 400px;
    grid-gap: 0;
    list-style: none;
    /* border: 1px groove rgba(0, 0, 0, 0.1); */
    font-size: 15px;
}

.box__input label {
    /* margin-left: -40px; */
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    /* border: 1px groove black; */
}

.box__input span {
    padding: 10px;
}

.box__input input {
    padding: 10px;
    width: 350px;
    font-size: 15px;
    border: 1px groove rgba(0, 0, 0, 0.1);
}

.box__input select {
    /* margin-left: -15px; */
    padding: 9px;
    width: 370px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.26);
    border: 1px groove rgba(0, 0, 0, 0.1);
}

.box__input select:focus {
    /* outline: 1px groove #ffffff; */
    outline: none;
}

.box__input ::placeholder {
    padding: 10px;
    padding-left: 0;
}

.box__input input:focus {
    outline: none;
    /* outline: 1px groove #ffffff; */
}

.box__input input:focus label {
    border: 1px groove #ffffff;
}

/* 스크립트 인풋  */
.contents-form__textarea {
    padding: 10px;
    width: 473px;
    height: 21vh;
    border: 1px groove rgba(0, 0, 0, 0.1);
    resize: none;
}

.contents-form__textarea::placeholder {
    padding: 0;
}

.contents-form__textarea::-webkit-scrollbar {
    /* padding-top: 5px; */
    width: 10px;
    background: #ffffff;
}

.contents-form__textarea::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 50px;
    background: rgb(155, 151, 151);
}

.contents-form__textarea::-webkit-scrollbar-track {
    padding-top: 5px;
    width: 10px;
    border-radius: 50px;
    background: #ffffff;
}

.contents-form__textarea:focus {
    outline: none;
}

.box__button__submit {
    margin-right: 13px;
    padding: 0;
    float: right;
    /* border: 1px solid black; */
}

.box__button__submit button {
    margin-right: 5px;
    padding: 10px 15px 10px 15px;
    /* width: 495px; */
    /* height: 5vh; */
    text-align: center;
    text-decoration: none;
    border: none;
    font-size: 15px;
    /* border: 1px solid black; */
    color: #ffffff;
    /* background: rgb(235, 222, 203); */
    background: #1d1c1d;
    border-radius: 20px;
    cursor: pointer;
}

.box__button__submit a {
    /* margin-left: 35px; */
    padding: 9px 15px 9px 15px;
    text-align: center;
    text-decoration: none;
    border: 0.5px groove rgba(0, 0, 0, 0.26);
    font-size: 15px;
    color: #1d1c1d;
    background: #ffffff;
    border-radius: 20px;
    cursor: pointer;
}

.box__button__submit button:hover,
.box__button__submit button:active,
.box__button__submit a:hover,
.box__button__submit a:active {
    opacity: 0.6;
    cursor: pointer;
}

.container-workspace.hidden {
    display: none;
}

.modal-workspace.hidden {
    display: none;
}

/* 채널추가 페이지 모달창 */
.create-channel-thumbnail-input-box,
.create-channel-photo-input-box {
    padding: 20px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 200px 200px;
    grid-gap: 0;
    list-style: none;
    border: 1px groove rgba(0, 0, 0, 0.1);
    font-size: 15px;
}

.create-channel-thumbnail-input-box input[type="file"],
.create-channel-photo-input-box input[type="file"] {
    display: none;
}

.modal-add-mode img {
    width: 500px;
    height: 200px;
    border-radius: 20px;
    cursor: pointer;
}

/* 피드 업로드 모달창 */
#preview-images {
    /* 위 | 오른쪽 | 아래 | 왼쪽 */
    padding: 18px 0 18px 17px;
    height: 200px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, 150px);
    grid-gap: 20px;
    /* justify-content: center; */
    /* border: 1px groove #1d1c1d; */
    overflow: scroll;
    overflow-y: scroll;
}

#preview-images::-webkit-scrollbar {
    width: 3px;
    height: 6px;
    background: #ffffff;
}

#preview-images::-webkit-scrollbar-thumb {
    width: 3px;
    height: 6px;
    background: rgb(155, 151, 151);
    border-radius: 50px;
}

#preview-images::-webkit-scrollbar-track {
    width: 3px;
    height: 6px;
    border-radius: 50px;
    background: #ffffff;
}

.attached-image-box {
    margin-right: 10px;
    width: 150px;
    display: flex;
    align-items: start;
    border: 1px groove rgba(0, 0, 0, 0.1);
}

#preview-images img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

#remove-upload-file__btn {
    margin-top: -7px;
    margin-left: -12px;
    padding: 0;
    background: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

#remove-upload-file__btn i {
    color: #000000;
}

#feed-images-empty-box label[for="feed-images"] {
    padding: 10px;
    font-size: 14px;
    border: none;
    background: #000000;
    color: #ffffff;
    border-radius: 20px;
    cursor: pointer;
}

#feed-images-empty-box i {
    margin-right: 10px;
    color: #ffffff;
}

#feed-images-empty-box input[type="file"]{
    display: none;
}

/* 멤버추가 모달창 */
.member-search-box {
    padding: 10px;
}

.member-search-box input {
    border: none;
    padding: 10px;
    width: 350px;
    font-size: 15px;
    /* border: 1px groove rgba(0, 0, 0, 0.1); */
}

.member-search-box label[for="search"] {
    padding: 10px;
    padding-left: 5px;
    border: 1px groove rgba(0, 0, 0, 0.26);
    border-radius: 5px;
}
.member-search-box label[for="search"] i{
    color: #1d1c1d;
}

.member-search-box ::placeholder {
    padding: 10px;
    padding-left: 0;
}

.member-search-box input:focus {
    outline: none;
}

#preview-search-user-list-box {
    margin: 5px 10px 0 10px;
    padding: 10px 0 10px 0;
    height: 265px;
    /* border: 1px groove rgba(0, 0, 0, 0.26); */
    border: none;
    border-radius: 5px;
    overflow-y: auto;
}

.selected-member-container {
    /* padding: 10px; */
    padding-left: 13px;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.26);
    overflow: scroll;
    overflow-x: scroll;
    /* overflow-y: hidden; */
}

.selected-member-box {
    /* padding: 5px; */
    width: 70px;
    text-align: center;
    cursor: pointer;
    animation: move 0.5s;
    -webkit-animation: move 0.5s;
    -moz-animation: move 0.5s;
}

.selected-member-box p {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.26);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.selected-member-box img {
    width: 55px;
    height: 55px;
    border-radius: 2rem;
    text-align: center;
    opacity: 1;
    cursor: pointer;
}

/* 멤버 초대 프리뷰 박스 스크롤 디자인 */
.selected-member-container::-webkit-scrollbar {
    height: 6px;
    background: #ffffff;
}

.selected-member-container::-webkit-scrollbar-thumb {
    width: 4px;
    height: 6px;
    background: rgb(155, 151, 151);
    border-radius: 50px;
}

.selected-member-container::-webkit-scrollbar-track {
    height: 6px;
    border-radius: 50px;
    background: #ffffff;
}

.search-member-list-box {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px groove rgba(0, 0, 0, 0.26);
    cursor: pointer;
}

.search-member-list-box:hover,
.search-member-list-box:active {
    opacity: 0.6;
}

.search-member-list-box img {
    width: 50px;
    height: 50px;
    border-radius: 2rem;
    opacity: 1;
    cursor: pointer;
}

.search-member-list-box span {
    padding-left: 30px;
    font-size: 12px;
    color: #1d1c1d;
}

.search-member-list-box i {
    margin-left: 80px;
    color: rgba(0, 0, 0, 0.26);
    float: right;
}