body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* 바디 스크롤 디자인 */
body::-webkit-scrollbar {
    width: 8px;
    background: rgb(235, 222, 203);
}

body::-webkit-scrollbar-thumb {
    width: 10px;
    background: rgb(155, 151, 151);
    border-radius: 70px;
}

body::-webkit-scrollbar-track {
    width: 10px;
    background: #ffffff;
}

#channel-profile-container {
    /* margin-top: 70px; */
    margin-left: 300px;
    padding: 70px;
    width: 73%;
    display: block;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    text-align: center;
    /* border: 1px groove black; */
    /* 박스 서서히 나타나기 */
    animation: fadein 1s;
    -webkit-animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.box-profile {
    margin-top: 0;
    padding: 50px;
    display: block;
}

#tab-box {
    padding: 5px 12px;
    text-align: left;
    /* border: 1px solid black; */
}

.type {
    margin-left: 5px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border: none;
    font: inherit;
    font-size: 14px;
    font-weight: bold;
    color: black;
    background: rgb(243, 243, 246);
    border-radius: 15px;
    cursor: pointer;
}

.type.active {
    color: #ffffff;
    background: black;
}

.type:hover,
.type:active {
    background: rgb(233, 233, 237);
}

/* 1. 채널 정보 패널 */
.info{
    margin-top: 40px;
    /* padding: 20px; */
    /* 박스 중앙으로 정렬 하기 */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* border: 1px groove black; */
}

.info img {
    width: 60vw;
    height: 300px;
    border: 1px groove rgba(0, 0, 0, 0.26);
    border-radius: 20px;
}

.box-text {
    margin-left: 10px;
    width: 16%;
    height: 300px;
    display: block;
    border: 1px groove rgba(0, 0, 0, 0.26);
    border-radius: 20px;
}

.text {
    padding-left: 10px;
    padding-right: 10px;
    /* 옆으로 텍스트 정렬 */
    display: flex;
    /* 텍스트 양사이드로 배치 */
    justify-content: space-between;
    /* border: 1px groove rgba(0, 0, 0, 0.26); */
}

.text p{
    font-family: 'Roboto';
    font-size: 13px;
    color: #000000;
    /* font-weight: 100; */
}

/* 2.공지 슬라이드 */
.box-post {
    margin-top: 40px;
    padding: 0;
    /* padding: 20px; */
    /* width: 50%; */
    display: flex;
    justify-content: space-between;
    /* border: 1px groove rgba(0, 0, 0, 0.26); */
    border-radius: 10px;
}
.post {
    /* margin-left: 10px; */
    padding: 10px;
    text-align: left;
    width: 50vw;
    border: 1px groove rgba(0, 0, 0, 0.26);
    border-radius: 10px;
}
.post:hover,
.post:active{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.26);
}
.post p{
    color: rgba(0, 0, 0, 0.26);
}

.post span{
    padding-left: 30px;
    color: rgb(212, 78, 21);
}

#second {
    margin-left: 10px;
}

/* 3. 소개 박스 */
.content {
    margin-top: 40px;
    padding-top: 10px;
    /* padding-left: -10px; */
    text-align: left;
    border: 1px groove rgba(0, 0, 0, 0.26);
    border-radius: 20px;
    white-space: pre-wrap;
}