body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* 바디 스크롤 디자인 */
body::-webkit-scrollbar {
    width: 8px;
    background: rgb(235, 222, 203);
}

body::-webkit-scrollbar-thumb {
    width: 10px;
    background: rgb(155, 151, 151);
    border-radius: 70px;
}

body::-webkit-scrollbar-track {
    width: 10px;
    background: #ffffff;
}

.channel-workspace-list-container {
    margin-left: 250px;
    padding: 70px;
    padding-left: 0;
    padding-right: 0;
    width: auto;
    display: block;
    align-items: center;
    background: #ffffff;
    /* border: 1px groove black; */
}

.channel-workspace-list-box {
    margin-top: 0;
    padding: 0;
    display: block;
    /* border: 1px solid black; */
    text-align: center;
}