body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* 바디 스크롤 디자인 */
body::-webkit-scrollbar {
    width: 8px;
    background: rgb(235, 222, 203);
}

body::-webkit-scrollbar-thumb {
    width: 10px;
    background: rgb(155, 151, 151);
    border-radius: 70px;
}

body::-webkit-scrollbar-track {
    width: 10px;
    background: #ffffff;
}

#div__channel-profile-container {
    /* margin-top: 70px; */
    margin-left: 300px;
    padding: 70px;
    width: 73%;
    display: block;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    border: 1px groove black;
}

.div__user-list {
    margin-top: 0;
    padding: 50px;
    /* height: 88vh; */
    display: block;
    /* overflow: scroll;
    overflow-x: hidden; */
    border: 1px groove black;
}

#thema001 {
    margin-left: 10px;
    padding: 5px;
    font-size: 22px;
    font-weight: bold;
    border: 1px solid black;
}

#thema002 {
    margin-left: 30px;
    margin-top: 100px;
    padding: 5px;
    font-size: 22px;
    font-weight: bold;
    /* border: 1px solid black; */
}

.user__div-wrapper {
    margin-left: 10px;
    margin-top: 30px;
    width: 100px;
    height: 135px;
    text-align: left;
    display: inline-block;
    border: 1px groove rgba(0, 0, 0, 0.26);
    border-radius: 5px;
}

.user__div-wrapper:hover,
.user__div-wrapper:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}

.user__div-wrapper img {
    padding: 0;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    /* border: 1px groove rgb(157, 153, 153); */
}

.card {
    padding-top: 0px;

    /* border: 1px solid black; */
}

.card h2 {
    font-size: 15px;
    font-weight: bolder;
}

.card button {
    padding: 10px;
    width: 270px;
    /* height: 5vh; */
    text-align: center;
    text-decoration: none;
    font: inherit;
    border: none;
    font-size: 15px;
    /* border: 1px solid black; */
    color: black;
    /* background: rgb(235, 222, 203); */
    background: rgb(243, 243, 246);
    border-radius: 3px;
    cursor: pointer;
}

.card button:hover,
.card button:active {
    background: rgb(180, 180, 189);
}

.footer {
    margin-left: 300px;
    padding: 50px;
    text-align: center;
    width: 600px;
    height: 200px;
    border: 1px groove black;
}