body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* 바디 스크롤 디자인 */
body::-webkit-scrollbar {
    width: 8px;
    background: rgb(235, 222, 203);
}

body::-webkit-scrollbar-thumb {
    width: 10px;
    background: rgb(155, 151, 151);
    border-radius: 70px;
}

body::-webkit-scrollbar-track {
    width: 10px;
    background: #ffffff;
}

.client-name {
    color: rgb(212, 78, 21);
}

.channel-workspace-list-container {
    margin-left: 200px;
    padding: 70px;
    padding-left: 0;
    padding-right: 0;
    width: auto;
    /* height: auto; */
    display: block;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    /* border: 1px groove black; */
}

.channel-workspace-list-box {
    margin-top: 0;
    padding: 50px;
    display: block;
    text-align: center;
    /* border: 1px solid black; */
}

/* 타이틀과 채널박스 아이템들 */
.wrapper-title-workspace-container {
    display: block;
    align-items: center;
    justify-content: center;
    /* border: 1px groove black; */
}

.inner {
    margin-bottom: 40px;
    border-radius: 10px;
    /* border: 1px groove rgba(0, 0, 0, 0.1); */
}

#title {
    /* margin-top: 40px; */
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-bottom: 15px;
    text-align: left;
    font-size: 22px;
    font-weight: bold;
    /* border: 1px solid black; */
}


#workspace-add__btn {
    margin-top: -5px;
    margin-left: 10px;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    border: none;
    font-size: 14px;
    /* font-weight: bold; */
    color: #ffffff;
    background: #1d1c1d;
    border-radius: 20px;
    cursor: pointer;
}

#workspace-add__btn i{
    color: #ffffff;
}

.workspace-box-items {
    padding: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 230px);
    grid-gap: 25px;
    grid-auto-flow: row;
    /* border: 1px groove rgba(0, 0, 0, 0.26); */
}

.no-data-comment-container {
    /* border: 1px groove black; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}
.no-data-comment-box {
    text-align: center;
    display: block;
    align-items: center;
}

.no-data-comment-box img{
    width: 200px;
    height: 200px;
}

#no-data-comment {
    font-size: 18px;
    font-weight: bold;
    color: #1c1d1c;
}


.contents__div-wrapper {
    /* margin-right: 20px; */
    /* margin-top: 20px; */
    padding: 5px;
    width: 230px;
    text-align: left;
    display: inline-block;
    /* justify-content: flex-end; */
    border: 1px groove rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    /* 박스 서서히 나타나기 */
    animation: fadein 0.7s;
    -webkit-animation: fadein 0.7s;
    -moz-animation: fadein 0.7s;
    -moz-animation: fadein 0.7s;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translate(-10px, -10px);
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
        transform: translate(-10px, -10px);
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
        transform: translate(-10px, -10px);
    }

    to {
        opacity: 1;
    }
}

.contents__div-wrapper:hover,
.contents__div-wrapper:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
    transition: all 0.3s;
}

.contents__div-wrapper img {
    padding: 0;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border-bottom: 1px groove rgb(157, 153, 153);
}


/* card */
.card {
    padding-top: 0px;
    /* border: 1px solid black; */
}

.card h2 {
    font-size: 15px;
    font-weight: bolder;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}


.a__btn-enter {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border: none;
    font: inherit;
    font-size: 13px;
    color: black;
    display: block;
    background: rgb(243, 243, 246);
    border-radius: 20px;
    cursor: pointer;
}

.a__btn-enter:hover,
.a__btn-enter:active {
    background: rgb(180, 180, 189);
}