body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* 바디 스크롤 디자인 */
body::-webkit-scrollbar {
    width: 8px;
    background: rgb(235, 222, 203);
}

body::-webkit-scrollbar-thumb {
    width: 10px;
    background: rgb(155, 151, 151);
    border-radius: 70px;
}

body::-webkit-scrollbar-track {
    width: 10px;
    background: #ffffff;
}

#div__channel-profile-container {
    /* margin-top: 70px; */
    margin-left: 300px;
    padding: 70px;
    width: 73%;
    display: block;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    /* border: 1px groove black; */
}

.div__user-list {
    margin-top: 0;
    padding: 50px;
    display: block;
}

#tab-box {
    padding: 5px 12px;
    /* border: 1px solid black; */
}

.type {
    /* margin-right: 5px; */
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border: none;
    font: inherit;
    font-size: 14px;
    font-weight: bold;
    color: black;
    background: rgb(243, 243, 246);
    border-radius: 15px;
    cursor: pointer;
}
.type.active{
    color: #ffffff;
    background: black;
}

.type:hover,
.type:active {
    background: rgb(233, 233, 237);
}

#title {
    margin-top: 40px;
    margin-left: 10px;
    /* padding: 5px; */
    font-size: 22px;
    font-weight: bold;
    /* border: 1px solid black; */
}


#thema002 {
    margin-left: 30px;
    margin-top: 100px;
    padding: 5px;
    font-size: 22px;
    font-weight: bold;
    /* border: 1px solid black; */
}

.user__div-wrapper {
    margin-left: 10px;
    margin-top: 10px;
    width: 200px;
    height: 250px;
    text-align: left;
    display: inline-block;
    border: 1px groove rgba(0, 0, 0, 0.26);
    border-radius: 5px;
    cursor: pointer;
    overflow : hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-line-clamp: 1;
}

.user__div-wrapper:hover,
.user__div-wrapper:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}

.user__div-wrapper img {
    padding: 0;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    /* border: 1px groove rgb(157, 153, 153); */
}

#add-icon {
    margin-top: 60px;
    padding: 35px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    /* border: 1px groove rgb(157, 153, 153); */
}

#invite {
    text-align: center;
}

#invite h2 {
    margin-top: 0;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: 100;
    color: #0f0f0f;
    /* border: 1px groove rgb(157, 153, 153); */
}

.card {
    padding-top: 0px;
    
    /* border: 1px solid black; */
}

.card h2 {
    font-size: 15px;
    font-weight: bolder;
}

.card button {
    padding: 10px;
    width: 270px;
    /* height: 5vh; */
    text-align: center;
    text-decoration: none;
    font: inherit;
    border: none;
    font-size: 15px;
    /* border: 1px solid black; */
    color: black;
    /* background: rgb(235, 222, 203); */
    background: rgb(243, 243, 246);
    border-radius: 3px;
    cursor: pointer;
}

.card button:hover,
.card button:active {
    background: rgb(180, 180, 189);
}

.footer {
    margin-left: 300px;
    padding: 50px;
    text-align: center;
    width: 600px;
    height: 200px;
    border: 1px groove black;
}

/* 모달영역 */
.invite-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.26);
}

.invite-modal {
    padding: 20px;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.26);
    background: white;
}



.invite-container.hidden {
    display: none;
}

.invite-modal.hidden {
    display: none;
}

.box__input__invite {
    padding: 5px;
    /* border: 1px solid black; */
}

.box__input__invite input {
    padding: 10px;
    width: 350px;
    font-size: 15px;
    border: 1px solid rgb(214, 211, 211);
}

.box__input__invite input:focus {
    outline: none;
}

.box__input__invite img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

#matchedClientName {
    color: rgb(212, 78, 21);
}

.invite-modal button {
    padding: 10px;
    width: 370px;
    /* height: 5vh; */
    text-align: center;
    text-decoration: none;
    font: inherit;
    border: none;
    font-size: 15px;
    display: block;
    /* border: 1px solid black; */
    color: black;
    /* background: rgb(235, 222, 203); */
    background: rgb(243, 243, 246);
    border-radius: 3px;
    cursor: pointer;
}

.invite-modal a:hover,
.invite-modal button:hover,
.invite-modal button:active {
    background: rgb(219, 219, 232);
}