body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* 바디 스크롤 디자인 */
body::-webkit-scrollbar {
    width: 8px;
    background: rgb(235, 222, 203);
}

body::-webkit-scrollbar-thumb {
    width: 10px;
    background: rgb(155, 151, 151);
    border-radius: 70px;
}

body::-webkit-scrollbar-track {
    width: 10px;
    background: #ffffff;
}

#channel-profile-container {
    /* margin-top: 70px; */
    margin-left: 220px;
    padding: 70px;
    padding-left: 0;
    padding-right: 0;
    width: auto;
    display: block;
    align-items: center;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    text-align: center;
    /* border: 1px groove black; */
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translate(-10px, -10px);
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
        transform: translate(-10px, -10px);
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
        transform: translate(-10px, -10px);
    }

    to {
        opacity: 1;
    }
}

#unit-title {
    text-align: left;
    padding: 15px;
    font-size: 20px;
}

.box-profile {
    margin-top: 0;
    padding: 50px;
    display: block;
    /* 박스 서서히 나타나기 */
    animation: fadein 0.7s;
    -webkit-animation: fadein 0.7s;
    -moz-animation: fadein 0.7s;
    /* border: 1px groove black; */
}

.unit-box {
    margin-bottom: 40px;
    margin-left: 100px;
    margin-right: 100px;
    display: block;
    /* border: 1px groove black; */
}

/* 1. 채널 정보 패널 */

.info {
    display: grid;
    grid-template-columns: 70% 30%;
}

.info img {
    width: 100%;
    height: 300px;
    border: 1px groove rgba(0, 0, 0, 0.26);
    border-radius: 10px;
}

.box-text {
    margin-left: 10px;
    padding: 15px;
    /* height: 300px; */
    display: inline-block;
    border: 1px groove rgba(0, 0, 0, 0.26);
    border-radius: 10px;
}

.text {
    /* 옆으로 텍스트 정렬 */
    display: grid;
    grid-template-columns: 40% 60%;
    text-align: left;
    border-bottom: 1px groove rgba(0, 0, 0, 0.1);
}

.text-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text span {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #1d1c1d;
    /* border: 1px groove rgba(0, 0, 0, 0.1); */
}

.text p {
    font-family: 'Roboto';
    font-size: 13px;
    color: #1d1c1d;
    /* font-weight: 100; */
}

.text i {
    color: rgba(0, 0, 0, 0.5);
    float: right;
}

.heart {
    padding: 13px;
    padding-top: 15px;
    padding-bottom: 13px;
    /* border: 0.5px groove rgba(0, 0, 0, 0.26); */
    border: none;
    border-radius: 30px;
    background: #ffffff;
    cursor: pointer;
}

.heart i {
    color: red;
}

/* 피드 */
.feed-container {
    margin-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
    display: block;
    align-items: center;
    justify-content: center;
    /* border: 1px groove rgba(0, 0, 0, 0.26); */
}

.feed-box {
    min-width: 480px;
    display: grid;
    grid-template-columns: 80px 10fr 80px;
    /* grid-template-columns: repeat(3, auto); */
    /* grid-template-rows: auto; */
    grid-auto-rows: auto;
    border: 1px groove rgba(0, 0, 0, 0.26);
    border-radius: 10px;
}

/* .feed-box:hover,
.feed-box:active {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.26);
} */
.feed-creator-box {
    width: 80px;
    padding-top: 20px;
    /* border: 1px groove rgba(0, 0, 0, 0.26); */
}

.feed-creator-box img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.feed-creator-name-box {
    /* padding-top: 5px; */
    padding-bottom: 10px;
    /* border: 1px groove rgba(0, 0, 0, 0.26); */
}

.feed-creator-name-box span {
    color: #1d1c1d;
    font-size: 14px;
    font-weight: bold;
}

#feed-date {
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.26);
    font-size: 12px;
}

.feed-content-box {
    /* display: block; */
    padding-top: 20px;
    width: 12fr;
    text-align: left;
    /* border: 1px groove rgba(0, 0, 0, 0.26); */
}

.feed-content-box img {
    margin-top: 5px;
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.feed-comment-box {
    color: #1d1c1d;
    font-size: 15px;
    /* font-weight: 100; */
    white-space: pre-wrap;
}

.feed-icons-box {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    cursor: pointer;
}

.icon-box {
    padding: 5px;
}

/* 피드 수정 버튼 */
#feed-edit {
    padding: 10px;
    border: none;
    background: #000000;
    color: #ffffff;
    border-radius: 10px;
    float: center;
}

#feed-edit i{
    color: #ffffff;
}

#feed-add-btn-box {
    padding: 30px;
    text-align: center;
    /* border: 1px groove #1d1c1d; */
}

#feed-add-btn-box button {
    padding: 10px;
    border: none;
    background: #000000;
    color: #ffffff;
    border-radius: 20px;
    cursor: pointer;
}

/* 3. 소개 박스 */
.comment {
    padding: 20px;
    width: auto;
    text-align: left;
    border: 1px groove rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    /* white-space: pre-wrap; */
}