body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* 바디 스크롤 디자인 */
body::-webkit-scrollbar {
    width: 8px;
    background: rgb(235, 222, 203);
}

body::-webkit-scrollbar-thumb {
    width: 10px;
    background: rgb(155, 151, 151);
    border-radius: 70px;
}

body::-webkit-scrollbar-track {
    width: 10px;
    background: #ffffff;
}

.channel-chatRoom-list-container {
    margin-left: 230px;
    padding: 70px;
    padding-left: 0;
    padding-right: 0;
    width: auto;
    display: block;
    align-items: center;
    background: #ffffff;
    /* border: 1px groove black; */
}

.channel-chatRoom-list-box {
    margin-top: 0;
    padding: 0;
    display: block;
    /* border: 1px solid black; */
    text-align: center;
}

.chatRoom-box-items {
    padding: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 25px;
    grid-auto-flow: row;
    /* border: 1px groove rgba(0, 0, 0, 0.26); */
}

.contents__div-wrapper {
    /* margin-right: 20px; */
    /* margin-top: 20px; */
    padding: 5px;
    width: 300px;
    text-align: left;
    display: inline-block;
    /* justify-content: flex-end; */
    border: 1px groove rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    /* 박스 서서히 나타나기 */
    animation: fadein 0.7s;
    -webkit-animation: fadein 0.7s;
    -moz-animation: fadein 0.7s;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translate(-10px, -10px);
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
        transform: translate(-10px, -10px);
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
        transform: translate(-10px, -10px);
    }

    to {
        opacity: 1;
    }
}

.contents__div-wrapper:hover,
.contents__div-wrapper:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
    transition: all 0.3s;
}

.contents__div-wrapper img {
    margin-left: 3px;
    padding: 0;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border-bottom: 1px groove rgb(157, 153, 153);
}


/* card */
.card {
    padding-left: 5px;
    padding-top: 0px;
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
}

#date {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.26);
    text-align: right;
    /* white-space : nowrap; */
    /* text-overflow: ellipsis; */
    /* overflow: hidden; */
}

.card h2 {
    padding-left: 5px;
    font-size: 15px;
    font-weight: bolder;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.card span {
    margin-right: 20px;
    font-size: 13px;
    font-weight: bolder;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.chat-box {
    padding: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 150px 100px;
    grid-gap: 35px;
    grid-auto-flow: row;
    /* border: 1px solid black; */
}
.chat-box p{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.4);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.a__btn-enter {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border: none;
    font: inherit;
    font-size: 15px;
    color: black;
    display: block;
    background: rgb(243, 243, 246);
    border-radius: 20px;
    cursor: pointer;
}

.a__btn-enter:hover,
.a__btn-enter:active {
    background: rgb(180, 180, 189);
}