body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* 바디 스크롤 디자인 */
body::-webkit-scrollbar {
    width: 8px;
    background: rgb(235, 222, 203);
}

body::-webkit-scrollbar-thumb {
    width: 10px;
    background: rgb(155, 151, 151);
    border-radius: 70px;
}

body::-webkit-scrollbar-track {
    width: 10px;
    background: #ffffff;
}

#myprofile-container {
    /* margin-top: 70px; */
    margin-left: 250px;
    padding: 70px;
    width: 75.5%;
    display: block;
    background: #ffffff;
    border: 1px groove black;
}

.myprofile {
    margin-top: 0;
    /* padding: 50px; */
    /* display: flex; */
    display: flex;
    justify-content: center;
    border: 1px groove black;
}

.card {
    padding: 20px;
    text-align: center;
    border: 1px groove black;
}
.card img{
    margin-top: 0;
    /* padding: 50px; */
    width: 300px;
    height: 300px;
    border-radius: 400px;
    cursor: pointer;
}


