body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* 바디 스크롤 디자인 */
body::-webkit-scrollbar {
    width: 8px;
    background: rgb(235, 222, 203);
}

body::-webkit-scrollbar-thumb {
    width: 10px;
    background: rgb(155, 151, 151);
    border-radius: 70px;
}

body::-webkit-scrollbar-track {
    width: 10px;
    background: #ffffff;
}

#myprofile-container {
    margin-left: 230px;
    padding: 70px;
    width: auto;
    background: #ffffff;
    /* border: 1px groove black; */
}


.photo-box {
    margin-top: 50px;
    text-align: center;
    color: #1d1c1d;
    /* border: 1px groove black; */
}

.photo-box span {
    color: rgb(212, 78, 21);
    font-size: 20px;
    font-weight: bolder;
}

.photo-box img {
    width: 200px;
    height: 200px;
    border-radius: 400px;
    cursor: pointer;
}

.myprofile {
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px groove black; */
}

ul {
    padding: 20px;
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(auto-fill);
    grid-gap: 0;
    grid-auto-flow: row;
    border: 1px groove rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: #1d1c1d;
}

ul>li {
    padding: 1px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 120px 400px;
    grid-gap: 0;
    list-style: none;
    border-bottom: 1px groove rgba(0, 0, 0, 0.1);
    font-size: 15px;
}

li p {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
}

li>#email {
    color: #1d1c1d;
}

#name,
#phone,
#sns,
#withdrawal {
    cursor: pointer;
}

#name:hover,
#name:active,
#phone:hover,
#phone:active,
#sns:hover,
#sns:active,
#withdrawal:hover,
#withdrawal:active {
    opacity: 0.7;
}

li i {
    color: rgba(0, 0, 0, 0.5);
    float: right;
}

#comment {
    margin-top: -20px;
    padding: 0;
    padding-bottom: 20px;
    border: none;
    grid-template-columns: 520px;
}

#comment p {
    font-size: 20px;
    color: #1d1c1d;
}

#comment span {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
}

#sns-logo {
    width: 35px;
    height: 35px;
    /* border: 1px solid black; */
    border-radius: 5px;
}

.logo-box {
    padding: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
}

.logo-box i {
    float: right;
}

/* 모달창 공통 css */
.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.26);
}

.icon-btn-box {
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px groove rgba(0, 0, 0, 0.26); */
}

.icon-btn-box h2 {
    color: #1d1c1d;
    font-size: 16px;
}

#modal-close-btn {
    margin-top: 8px;
    padding: 10px;
    padding-left: 16px;
    padding-right: 16px;
    background: #ffffff;
    font-size: 20px;
    font-weight: lighter;
    border-radius: 25px;
    /* border: 1px groove rgba(0, 0, 0, 0.26); */
    border: none;
    cursor: pointer;
    float: right;
}

.modal-edit-mode {
    padding: 5px 10px 10px;
    /* padding-top: 5px; */
    width: 350px;
    display: block;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    /* text-align: center; */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.26);
    background: #ffffff;
}

.modal-edit-mode input[name="name"],
.modal-edit-mode input[name="phone"] {
    margin-top: 25px;
    padding: 10px;
    width: 327px;
    font-size: 15px;
    border: 0.1px groove rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.modal-edit-mode input[name="name"]:focus,
.modal-edit-mode input[name="phone"]:focus {
    outline: none;
}

.edit-icon {
    margin-top: 25px;
    padding: 10px;
    /* padding-left: 151px; */
    /* padding-right: 151px; */
    margin-right: 3px;
    /* color: #000000;
    background: #ffffff; */
    background: #1d1c1d;
    color: #ffffff;
    border: 0.5px groove rgba(0, 0, 0, 0.26);
    border-radius: 20px;
    float: right;
}

.edit-icon i {
    color: #ffffff;
}

.edit-icon:hover,
.edit-icon:active {
    opacity: 0.6;
    cursor: pointer;
}