body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* 바디 스크롤 디자인 */
body::-webkit-scrollbar {
    width: 8px;
    background: rgb(235, 222, 203);
}

body::-webkit-scrollbar-thumb {
    width: 10px;
    background: rgb(155, 151, 151);
    border-radius: 70px;
}

body::-webkit-scrollbar-track {
    width: 10px;
    background: #ffffff;
}

#myprofile-container {
    margin-left: 250px;
    padding: 70px;
    width: auto;
    background: #ffffff;
    /* border: 1px groove black; */
}


.photo-box {
    margin-top: 50px;
    text-align: center;
    color: #1d1c1d;
    /* border: 1px groove black; */
}

.photo-box span {
    color: rgb(212, 78, 21);
    font-size: 20px;
    font-weight: bolder;
}

.photo-box img {
    width: 200px;
    height: 200px;
    border-radius: 400px;
    cursor: pointer;
}

.myprofile {
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px groove black; */
}

ul {
    padding: 20px;
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(auto-fill);
    grid-gap: 0;
    grid-auto-flow: row;
    border: 1px groove rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: #1d1c1d;
}

ul>li {
    padding: 1px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 120px 400px;
    grid-gap: 0;
    list-style: none;
    border-bottom: 1px groove rgba(0, 0, 0, 0.1);
    font-size: 15px;
}

li p {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
}

li>#email {
    color: #1d1c1d;
}

#name,
#phone,
#sns {
    cursor: pointer;
}

#name:hover,
#name:active,
#phone:hover,
#phone:active,
#sns:hover,
#sns:active {
    opacity: 0.7;
}

li i {
    color: rgba(0, 0, 0, 0.5);
    float: right;
}

#comment {
    margin-top: -20px;
    padding: 0;
    padding-bottom: 20px;
    border: none;
    grid-template-columns: 520px;
}

#comment p{
    font-size: 20px;
    color: #1d1c1d;
}

#comment span{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
}