<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/error2.css">
    <body>
        <%- include('../includes/header.ejs') %>
        <%- include('../includes/menu.ejs') %>
        <div class="error-background">
            <div class="error-box">
                <img src="/images/error500.gif" id="error500">
                <h1>서버에 문제가 생겼어요...</h1>
            </div>
        </div>
    </body>
</html>